
#searchbar, #container, header, html, body {background: #FFCCCC;}
#songtitle, #content {background: white;}

html, body {
    font-family:"Sans-serif";
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}

#mainmenue{
    position: fixed;
    font-family: sans-serif;
    width: 100%;
    padding: -1px 0;
    top: 0;
    left: 0;
    text-align: center;
    margin: 0;
    background: black;
    -webkit-transition: background-color 0.25s linear;
    -webkit-box-shadow: 0 0 10px #000;
    -moz-box-shadow: 0 0 10px #000;
    z-index: 10;
}

#footer {
    position: fixed;
    font-family: sans-serif;
    width: 100%;
    padding: 3px 0;
    bottom: 0;
    left: 0;
    text-align: center;
    margin: 0;
    background: black;
    -webkit-transition: background-color 0.25s linear;
    -webkit-box-shadow: 0 0 10px #000;
    -moz-box-shadow: 0 0 10px #000;
    z-index: 10;
}
#container{
    margin: 60px auto;
    background-position: bottom;
    width: 900px ;
    padding: 0.8em;
}

#header{
    text-align: center;
    margin: 10px auto;
    width: 800px;
    border: none; 
    padding: 0.8em;
}

#searchbar{
    text-align: center;
}

#songtitle{
    text-align: center;
}

#content{
    margin: 10px auto;
    width: 800px;
    border: 1px solid #ccc;
    padding: 0.8em;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#footer2{
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    text-align: right;
    background: black;
    color: grey;
    -webkit-transition: background-color 0.25s linear;
    -webkit-box-shadow: 0 0 10px #000;
    -moz-box-shadow: 0 0 10px #000;
    z-index: 10;
}

.menue_button {
    background-color: black;
    color: grey;
    border-style: none;
    text-align: center;
    width: 100px;
}

#frame{
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.20);
    padding: 7px;
    width: 50px auto;
    height: 50px auto;
    border: 1px solid rgb(221, 221, 221);
    background: white;
}

h3 {
    color: black;
    font-size: 33pt;
    font-family:serif;
    text-align: center;
}
#song_header{
    padding: 30px 10px 70px 10px;
    text-align:center;

}

/*
http://designshack.net/articles/css/6-useful-css-button-recipes-you-can-copy-paste 
 */
.button {

    /*basic styles*/
    width: 120px;
    height: 30px;  
    color: white; 
    background-color: #99CF00;
    text-align: center;  
    margin: 5px 10px 5px; 


    /*gradient styles*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#99CF00), to(#6DB700));
    background: -moz-linear-gradient(19% 75% 90deg,#6DB700, #99CF00);

    /*border styles*/
    border-left: solid 1px #c3f83a;
    border-top: solid 1px #c3f83a;
    border-right: solid 1px #82a528;
    border-bottom: solid 1px #58701b;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 5px;
    -webkit-gradient(linear, 0% 0%, 0% 100%, from(#99CF00), to(#6DB700))

}

.button:hover {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6DB700), to(#99CF00));
    background: -moz-linear-gradient(19% 75% 90deg,#99CF00, #6DB700);
}

#custom {

    background-color: #fff;
    border:none;
    font-size:14px;
    height: 25px;
    width: 200px;
    padding: 0;
}

.search_button {

    /*basic styles*/
    width: 80px;
    height: 30px;  
    color: white; 
    background-color: #99CF00;
    text-align: center;  
    border-left: solid 1px #c3f83a;
    border-top: solid 1px #c3f83a;
    border-right: solid 1px #82a528;
    border-bottom: solid 1px #58701b;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -webkit-gradient(linear, 0% 0%, 0% 100%, from(#99CF00), to(#6DB700))
}
.search_button:active {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6DB700), to(#99CF00));
    background: -moz-linear-gradient(19% 75% 90deg,#99CF00, #6DB700);
    color:black;
}
.search_form{
    background-color:#ffffff;
    border:1px solid #dbdbdb;
    padding:5px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
}

.cover_stats{

    text-align: left;
    font-size: 14px;
    padding-left: 240px;
}

/*
 *http://www.web-spirit.de/webdesign-tutorial/6/CSS-Tagcloud-(Schlagwortwolke)
 */

#tagcloud{
    margin: 10px auto;
    width: 500px;
    border: 1px solid #ccc;
    text-align:center;
    background: #303030; 
    padding:10px 5px 10px 5px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
}

.tag1{ font-size:1em; color:#555555; line-height:1em; }
.tag2{ font-size:1.2em; color:#606060; line-height:1em; }
.tag3{ font-size:1.4em; color:#808080; line-height:1em; }

#tagcloud a{ text-decoration:none; }
#tagcloud a:hover{ text-decoration:underline; }
