<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/1999/xhtml">

<html>
    <head>
        <meta name="description" content="A music metadata search engine.">
        <meta name="keywords" content="lyric, cover, search, artist, album, metadata">
        <meta name="author" content="Kitteh & Elk">
        <meta charset="utf-8">
        <title>
            Acousticat.
        </title>
        <link href="layout.css" rel="stylesheet" type="text/css">
    </head>
    <body>

        <div id="mainmenue">
            <button class="menue_button" type="button">home</button>
            <button class="menue_button" type="button">buy a song</button>
            <button class="menue_button" type="button">api</button>
            <button class="menue_button" type="button">help</button>
        </div>

        <div id="container">
            <div id="header">
                <h1>Acousticat</h1>
                <p><img src="img/logo.jpg" alt="singing octocat; src: http://octodex.github.com/images/aidorucat.png" height="150"></p>
                <p>
                Your songs, your pleasure...no matter if you love cats or elks.
                Your Opensurz music meta search engine.
                </p>
                <div id="searchbar">
                    <form>
                        <input type="text" name="search term">
                        <button id="search_button" type="button">get it!</button>

                    </form> 
                </div>
            </div>

            <div id="content">

                <div id="song_header">
                    <div id="cover_pic">

                        <img  id="frame" src="img/cover.jpg" style="float:left" alt="singing octocat; src: http://octodex.github.com/images/aidorucat.png" height="150">
                    </div>
                    <h3>Rammstein</h3>
                    <div id="songtitle">
                        <h4>Liebe ist für alle da - Liese</h4>
                    </div>
                </div>

                <div id="lyric">
                    <p>
                    Sonntag auf der Angerwiese
                    hütet Gänse brav die Liese
                    da kommt Jakob angerannt
                    seine Sichel in der Hand
                    diese schiebt er hin und wieder
                    dem Lies'schen unter Rock und Mieder
                    er will sie kosten will sie zwingen
                    und der Bub wird dazu singen
                    </p>
                    <p>
                    Liebe Liese lass die Gänse
                    ich will von deiner Haut probieren
                    vom Blute rostig is die Sense
                    bist du freundlich nicht zu mir
                    </p>
                    <p>
                    Der Jakob darf vom Lies'chen lecken
                    und sie wird nach Birne schmecken
                    sich kleine Härchen aufgestellt
                    eilen sie zum Weizenfeld
                    in der Goldflut gut versteckt
                    hat er die Liese angesteckt
                    hält bis zum Anbend sie eng umschlungen
                    und hat in das Kind gesungen
                    </p>
                    <p>
                    Liebe Liese lass die Gänse
                    ich will von deiner Haut probieren
                    vom Blute rostig is die Sense
                    bist du freundlich nicht zu mir
                    </p>
                    <p>
                    Liebe Liese lass die Gänse
                    ich will von deiner Haut probieren
                    vom Blute rostig is die Sense
                    bist du freundlich nicht zu mir
                    </p>
                    <p>
                    Sonntag auf der Angerwiese
                    hütet Gänse brav die Liese
                    da kommt Jakob angerannt
                    seine Sichel in der Hand
                    diese schiebt er hin und wieder
                    dem Lies'schen unter Rock und Mieder
                    er will sie kosten will sie zwingen
                    und der Bub wird dazu singen
                    </p>
                    <p>
                    Liebe Liese lass die Gänse
                    ich will von deiner Haut probieren
                    vom Blute rostig is die Sense
                    bist du freundlich nicht zu mir
                    </p>
                    <p>
                    Der Jakob darf vom Lies'chen lecken
                    und sie wird nach Birne schmecken
                    sich kleine Härchen aufgestellt
                    eilen sie zum Weizenfeld
                    in der Goldflut gut versteckt
                    hat er die Liese angesteckt
                    hält bis zum Anbend sie eng umschlungen
                    und hat in das Kind gesungen
                    </p>
                    <p>
                    Liebe Liese lass die Gänse
                    ich will von deiner Haut probieren
                    vom Blute rostig is die Sense
                    bist du freundlich nicht zu mir
                    </p>
                    <p>
                    Liebe Liese lass die Gänse
                    ich will von deiner Haut probieren
                    vom Blute rostig is die Sense
                    bist du freundlich nicht zu mir
                    </p>
                </div>
            </div>

            <div id="footer">
                wantz impressum?
            </div>
        </div>
    </body>
</html>
