<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/1999/xhtml">

<html>
    <head>
        <meta name="description" content="A music metadata search engine.">
        <meta name="keywords" content="lyric, cover, search, artist, album, metadata">
        <meta name="author" content="Kitteh & Elk">
        <meta charset="utf-8">
        <title>
            Elchr.
        </title>
        <link href="layout.css" rel="stylesheet" type="text/css">
    </head>
    <body>

        <div id="mainmenue">
            <button class="menue_button" type="button">home</button>
            <button class="menue_button" type="button">buy a song</button>
            <button class="menue_button" type="button">api</button>
            <button class="menue_button" type="button">help</button>
            <button class="menue_button" type="button">About us</button>
        </div>

        <div id="container">

            <div id="header">
                <p><img src="img/logo.png" alt="singing octocat; src: http://octodex.github.com/images/aidorucat.png" height="150"></p>
                <h1>Elchr</h1>
                <p>
                A music metadata search engine.
                </p>
                
                <div id="searchbar">
                    <form>
                        <input type="text" name="search term">
                        <button id="search_button" type="button">get it!</button>

                    </form> 
                </div>

            </div>

            <div id="content">

                <div id="song_header">
                    <div id="cover_pic">

                        <img  id="frame" src="img/cover.jpg" style="float:left" alt="singing octocat; src: http://octodex.github.com/images/aidorucat.png" height="150">
                    </div>
                    <h3>Rammstein</h3>
                    <div id="songtitle">
                        <h4>Liebe ist für alle da - Liese</h4>
                    </div>
                </div>

            </div>

        </div>
    </body>
        <div id="footer">
            wantz impressum?
        </div>
</html>
