html, body {
    background: #2f2f2f;
    color: #2a2521;
    font-family:"Sans-serif";
    font-size: 11px;
}

#mainmenue{
    position: fixed;
    font-family: sans-serif;
    width: 100%;
    padding: 3px 0;
    top: 0;
    left: 0;
    text-align: center;
    margin: 0;
    background: black;
    -webkit-transition: background-color 0.25s linear;
    -webkit-box-shadow: 0 0 10px #000;
    -moz-box-shadow: 0 0 10px #000;
    z-index: 10;
}

#container{
    margin: 60px auto;
    width: 900px ;
    border: 1px solid #ccc;
    padding: 0.8em;
    background: #151b1e;
}

#header{
    text-align: center;
    margin: 10px auto;
    width: 800px;
    border: 1px solid #ccc;
    padding: 0.8em;
    background: white;
}

#searchbar{
    text-align: center;
    background: white;
}

#song_title{
    text-align: center;
    background: white;
}
#content{
    margin: 10px auto;
    width: 800px;
    border: 1px solid #ccc;
    padding: 0.8em;
    background: white;
}

#footer{
    position: fixed;
    font-family: sans-serif;
    width: 100%;
    padding: 3px 0;
    bottom: 0;
    left: 0;
    text-align: right;
    margin: 0;
    background: black;
    color: grey;
    -webkit-transition: background-color 0.25s linear;
    -webkit-box-shadow: 0 0 10px #000;
    -moz-box-shadow: 0 0 10px #000;
    z-index: 10;
}

.menue_button {
    background-color: black;
    color: grey;
    border-style: none;
    text-align: center;
    width: 100px;
}

#frame{
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    padding: 7px;
    width: 50px auto;
    height: 50px auto;
    border: 1px solid rgb(221, 221, 221);
}
#songtitle{
    color: grey;
    text-align: center;
}

h3 {
    color: brown;
    font-size: 20pt;
    font-family:serif;
    text-align: center;
}
#song_header{
    padding: 1px;
text-align:center;
}

#lyric_text {
    color: grey;
    text-align: center;
    width: 300px;
    padding: 1px;
}
