
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Eine Einführung in</title>
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="static/nature.css" type="text/css" />
    <link rel="stylesheet" href="static/pygments.css" type="text/css" />
    <link rel="stylesheet" href="static/impress.css" type="text/css" />
    <link rel="stylesheet" href="static/custom.css" type="text/css" />
  </head>
  <body>
    <div id="impress">
      
  <div class="step center section" data-scale="5" data-x="8500.0" data-y="-1000" id="eine-einfuhrung-in">
<h1>
<strong>
Eine Einführung in</strong><a class="headerlink" href="#eine-einfuhrung-in" title="Permalink to this headline">¶</a></h1>
<img alt="_images/flask_logo.png" class="align-center" src="_images/flask_logo.png" style="width: 500px;">
<div class="line-block">
<div class="line">
<br /></div>
</div>
<p>
<tt class="docutils literal">
<span class="pre">http://flask.pocoo.org/</span></tt></p>
<p>
<strong>
Präsentation angelehnt an den</strong> <a class="reference external" href="http://flask.pocoo.org/docs/quickstart">
Flask Quickstart</a></p>
</div>
<div class="step slide section" data-x="1000.0" data-y="0" id="um-was-geht-s">
<h1>
Um was geht&#8217;s?<a class="headerlink" href="#um-was-geht-s" title="Permalink to this headline">¶</a></h1>
<ul>
<li>
<p class="first">
Flask ist ein <strong>
Microwebframework</strong>.</p>
</li>
<li>
<p class="first">
<strong>
Fokus:</strong> Erweiterbarkeit + gute Dokumentation.</p>
</li>
<li>
<p class="first">
Abhängigkeiten:</p>
<blockquote>
<div><ul class="simple">
<li>
<a class="reference external" href="http://werkzeug.pocoo.org/">
Werkzeug</a>: WSGI Middleware.</li>
<li>
<a class="reference external" href="http://jinja.pocoo.org/`Jinja2">
Jinja2</a>: Eine Template Engine.</li>
</ul>
</div></blockquote>
</li>
<li>
<p class="first">
BSD Lizenz → Kommerzielle Projekte möglich.</p>
</li>
</ul>
<hr class="docutils">
<dl class="docutils">
<dt>
<strong>
Warum denn &#8220;micro&#8221;?</strong></dt>
<dd>
<div class="first last line-block">
<div class="line">
<br /></div>
<div class="line">
<em>
Flask aims to keep the core simple but extensible.</em></div>
<div class="line">
<em>
Flask won’t make many decisions for you, such as what database to use.</em></div>
</div>
</dd>
</dl>
<p>
<strong>
Anderer Grund:</strong></p>
<blockquote>
<div>800 LOC Code, 1500 LOC Testcases, 200 A4 Seiten Dokumentation.</div></blockquote>
</div>
<div class="step slide section" data-x="2000.0" data-y="0" id="warum-nicht-django">
<h1>
Warum nicht Django?<a class="headerlink" href="#warum-nicht-django" title="Permalink to this headline">¶</a></h1>
<div class="line-block">
<div class="line">
<br /></div>
</div>
<p>
<strong>
Im Vergleich zu Django</strong>:</p>
<blockquote>
<div><ul class="simple">
<li>
Beschränkung auf Kernfunktionalität.</li>
<li>
don&#8217;t reinvent the wheel.</li>
<li>
Modular, Erweiterung durch Plugins.</li>
<li>
zB.: Datenbank und Templateengine austauschbar.</li>
</ul>
</div></blockquote>
<p>
<strong>
Anmerkung</strong>:</p>
<blockquote>
<div><ul class="simple">
<li>
Flask läuft momentan nur mit Python 2.x.</li>
<li>
Python 3.x Port ist in Arbeit.</li>
<li>
Django läuft bereits auf Python 3.x.</li>
</ul>
</div></blockquote>
</div>
<div class="step slide section" data-x="3000.0" data-y="0" id="weitere-features">
<h1>
Weitere Features<a class="headerlink" href="#weitere-features" title="Permalink to this headline">¶</a></h1>
<div class="line-block">
<div class="line">
<br /></div>
<div class="line">
<br /></div>
</div>
<blockquote>
<div><ul class="simple">
<li>
Handhabung von Authentifizierung, Cookies, Sessions</li>
<li>
Konfigurierbares Caching</li>
<li>
Internationalisierung</li>
<li>
Abstraktionsschicht für Datenbanken, die dynamisch SQL erzeugt (ORM, Object-Relational-Mapper)</li>
<li>
Kompatibilität zu vielen Datenbankmanagementsystemen</li>
</ul>
</div></blockquote>
</div>
<div class="step slide section" data-x="0" data-y="800.0" id="hello-world">
<h1>
Hello World!<a class="headerlink" href="#hello-world" title="Permalink to this headline">¶</a></h1>
<p>
Die folgende Anwendung wird auf <tt class="docutils literal">
<span class="pre">localhost:5000</span></tt>
horchen und bei einem <tt class="docutils literal">
<span class="pre">GET</span></tt>
einem unformattieren <strong>
Hallo Welt</strong> ausgeben.</p>
<div class="highlight-python">
<div class="highlight"><pre><span class="c"># Importiere die Flask Libraries,</span>
<span class="c"># und instanziere eine Flask-Anwendung.</span>
<span class="kn">from</span> <span class="nn">flask</span> <span class="kn">import</span> <span class="n">Flask</span>
<span class="n">app</span> <span class="o">=</span> <span class="n">Flask</span><span class="p">(</span><span class="s">&#39;MyFirstFlaskApp&#39;</span><span class="p">)</span>

<span class="c"># hello() soll für ein Zugriff auf</span>
<span class="c"># die root-url aufgerufen werden.</span>
<span class="nd">@app.route</span><span class="p">(</span><span class="s">&quot;/&quot;</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">hello</span><span class="p">():</span>
    <span class="k">return</span> <span class="s">&quot;Hallo Welt&quot;</span>

<span class="c"># Falls das Skript direkt ausgeführt wird,</span>
<span class="c"># so lasse die Anwendung laufen.</span>
<span class="k">if</span> <span class="n">__name__</span> <span class="o">==</span> <span class="s">&quot;__main__&quot;</span><span class="p">:</span>
    <span class="n">app</span><span class="o">.</span><span class="n">run</span><span class="p">(</span><span class="n">debug</span><span class="o">=</span><span class="bp">True</span><span class="p">)</span>
</pre></div>
</div>
</div>
<div class="step slide section" data-x="1000" data-y="800.0" id="und-nun-schlangen">
<h1>
Und nun…  Schlangen!<a class="headerlink" href="#und-nun-schlangen" title="Permalink to this headline">¶</a></h1>
<img alt="_images/pycake.png" class="align-center" src="_images/pycake.png" style="width: 500px;">
<div class="line-block">
<div class="line">
<br /></div>
<div class="line">
<br /></div>
</div>
<p>
<a class="reference internal" href="python.html#python-part">
<em>
Ein Hochgeschwindigkeitskurs durch Python</em></a></p>
</div>
<div class="step slide section" data-x="2000" data-y="800.0" id="view-functions">
<h1>
View Functions<a class="headerlink" href="#view-functions" title="Permalink to this headline">¶</a></h1>
<p>
<strong>
Gute Tiere anzeigen:</strong></p>
<div class="highlight-python">
<div class="highlight"><pre><span class="nd">@app.route</span><span class="p">(</span><span class="s">&#39;/&#39;</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">show_good_ones</span><span class="p">():</span>
    <span class="c"># Fake-Daten aus der Datenbank</span>
    <span class="n">db</span> <span class="o">=</span> <span class="p">[</span><span class="s">&#39;turtle&#39;</span><span class="p">,</span> <span class="s">&#39;owl&#39;</span><span class="p">,</span>   <span class="s">&#39;dog&#39;</span><span class="p">,</span>
          <span class="s">&#39;kitteh&#39;</span><span class="p">,</span> <span class="s">&#39;koala&#39;</span><span class="p">,</span> <span class="s">&#39;moose&#39;</span><span class="p">]</span>

    <span class="c"># Tue etwas mit den Daten</span>
    <span class="n">good</span> <span class="o">=</span> <span class="p">[</span><span class="n">y</span> <span class="k">for</span> <span class="n">x</span><span class="p">,</span> <span class="n">y</span> <span class="ow">in</span> <span class="nb">enumerate</span><span class="p">(</span><span class="n">db</span><span class="p">)</span> <span class="k">if</span> <span class="n">x</span> <span class="o">%</span> <span class="mi">2</span> <span class="o">!=</span> <span class="mi">0</span><span class="p">]</span>

    <span class="c"># Visualisiere sie (hier einfach &quot;raw&quot;)</span>
    <span class="k">return</span> <span class="nb">str</span><span class="p">(</span><span class="n">good</span><span class="p">)</span>

<span class="k">if</span> <span class="n">__name__</span> <span class="o">==</span> <span class="s">&#39;__main__&#39;</span><span class="p">:</span>
    <span class="n">app</span><span class="o">.</span><span class="n">run</span><span class="p">(</span><span class="n">debug</span><span class="o">=</span><span class="bp">True</span><span class="p">)</span>
</pre></div>
</div>
<ul class="simple">
<li>
<em>
View Funktionen</em> dienen zum Visualisieren von Daten</li>
</ul>
</div>
<div class="step slide section" data-x="3000" data-y="800.0" id="routing-troubleshooting-1">
<h1>
Routing &amp; Troubleshooting #1<a class="headerlink" href="#routing-troubleshooting-1" title="Permalink to this headline">¶</a></h1>
<p>
<strong>
Routing</strong>:</p>
<blockquote>
<div><div class="highlight-python">
<div class="highlight"><pre><span class="k">def</span> <span class="nf">compose_hello</span><span class="p">(</span><span class="n">name</span><span class="p">):</span>
    <span class="k">return</span> <span class="s">&#39;&lt;h1&gt;&lt;b&gt;Hello &#39;</span> <span class="o">+</span> <span class="n">name</span> <span class="o">+</span> <span class="s">&#39;!&lt;/b&gt;&lt;/h1&gt;&#39;</span>

<span class="nd">@app.route</span><span class="p">(</span><span class="s">&#39;/hello&#39;</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">hello</span><span class="p">():</span>
    <span class="k">return</span> <span class="n">compose_hello</span><span class="p">(</span><span class="s">&#39;Workshop&#39;</span><span class="p">),</span> <span class="mi">200</span>
</pre></div>
</div>
</div></blockquote>
<p>
<strong>
Gerendertes HTML im Browser (localhost:5000):</strong></p>
<hr class="docutils">
<h1><b>Hello Workshop</b></h1><div class="highlight-python">
<pre>&lt;h1&gt;&lt;b&gt;Hello Workshop&lt;/b&gt;&lt;/h1&gt;</pre>
</div>
</div>
<div class="step slide section" data-x="0" data-y="1600.0" id="routing-troubleshooting-2">
<h1>
Routing &amp; Troubleshooting #2<a class="headerlink" href="#routing-troubleshooting-2" title="Permalink to this headline">¶</a></h1>
<p>
<strong>
Redirects</strong>:</p>
<blockquote>
<div><ul>
<li>
<p class="first">
<a class="reference external" href="http://www.domain.de/newest_article">
http://www.domain.de/newest_article</a> →
<a class="reference external" href="http://www.domain.de/article/month/week/day/blah.html">
http://www.domain.de/article/month/week/day/blah.html</a></p>
</li>
<li>
<p class="first">
Realisierbar mit <tt class="docutils literal">
<span class="pre">redirect(url)</span></tt></p>
<div class="highlight-python">
<div class="highlight"><pre><span class="kn">from</span> <span class="nn">flask</span> <span class="kn">import</span> <span class="n">redirect</span>
<span class="nd">@app.route</span><span class="p">(</span><span class="s">&#39;/redirect_to_google&#39;</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">hello</span><span class="p">():</span>
   <span class="k">return</span> <span class="n">redirect</span><span class="p">(</span><span class="s">&#39;http://www.google.de&#39;</span><span class="p">)</span>
</pre></div>
</div>
</li>
<li>
<p class="first">
Würde bei einem GET von <tt class="docutils literal">
<span class="pre">localhost:5000/redirect_to_google</span></tt> <tt class="docutils literal">
<span class="pre">www.google.de</span></tt>
mittels eines HTTP Redirects aufrufen.</p>
</li>
<li>
<p class="first">
Lässt man das Protokoll (<tt class="docutils literal">
<span class="pre">http://</span></tt>) weg, so wird innerhalb der Seitengrenzen redirected,
also zu <tt class="docutils literal">
<span class="pre">localhost:5000/www.google.de</span></tt>.</p>
</li>
</ul>
</div></blockquote>
</div>
<div class="step slide section" data-x="1000" data-y="1600.0" id="routing-troubleshooting-3">
<h1>
Routing &amp; Troubleshooting #3<a class="headerlink" href="#routing-troubleshooting-3" title="Permalink to this headline">¶</a></h1>
<p>
<strong>
HTTP Verben:</strong></p>
<blockquote>
<div><ul class="simple">
<li>
<tt class="docutils literal">
<span class="pre">GET</span></tt>, <tt class="docutils literal">
<span class="pre">POST</span></tt>, <tt class="docutils literal">
<span class="pre">PUT</span></tt>, <tt class="docutils literal">
<span class="pre">HEAD</span></tt>, <tt class="docutils literal">
<span class="pre">OPTIONS</span></tt></li>
</ul>
</div></blockquote>
<p>
<strong>
URL Building:</strong></p>
<blockquote>
<div><ul>
<li>
<p class="first">
Vermeidung von hardgecodeten URLs im Programm:</p>
<div class="highlight-python">
<div class="highlight"><pre><span class="n">url_for</span><span class="p">(</span><span class="s">&#39;a_name_of_a_view_function&#39;</span><span class="p">)</span>
</pre></div>
</div>
</li>
</ul>
</div></blockquote>
<p>
<strong>
Statische Komponenten:</strong></p>
<blockquote>
<div><ul>
<li>
<p class="first">
… werden in einem <tt class="docutils literal">
<span class="pre">static/</span></tt> folder abgelegt (CSS, Bilder).</p>
</li>
<li>
<p class="first">
Templates gehen per default nach <tt class="docutils literal">
<span class="pre">templates/</span></tt>.</p>
<div class="highlight-python">
<div class="highlight"><pre><span class="n">url_for</span><span class="p">(</span><span class="s">&#39;static/&#39;</span><span class="p">,</span> <span class="n">filename</span><span class="o">=</span><span class="s">&#39;cover.png&#39;</span><span class="p">)</span>
</pre></div>
</div>
</li>
</ul>
</div></blockquote>
</div>
<div class="step slide section" data-x="2000" data-y="1600.0" id="templates-how-to-render-them">
<h1>
Templates &amp; How to render them<a class="headerlink" href="#templates-how-to-render-them" title="Permalink to this headline">¶</a></h1>
<p>
<strong>
Templates</strong></p>
<blockquote>
<div><ul>
<li>
<p class="first">
Mit <tt class="docutils literal">
<span class="pre">render_template('hello.html)</span></tt> wird über Jinja2 die Seite
<tt class="docutils literal">
<span class="pre">hi.html</span></tt> gerendert</p>
<div class="highlight-python">
<div class="highlight"><pre><span class="nd">@app.route</span><span class="p">(</span><span class="s">&#39;/greet/&lt;name&gt;&#39;</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">hello</span><span class="p">(</span><span class="n">name</span><span class="p">):</span>
   <span class="k">return</span> <span class="n">render_template</span><span class="p">(</span><span class="s">&#39;hi.html&#39;</span><span class="p">,</span><span class="n">you</span><span class="o">=</span><span class="n">name</span><span class="p">)</span>
</pre></div>
</div>
</li>
<li>
<div class="first highlight-html">
<div class="highlight"><pre><span class="c">&lt;!-- hi.html --&gt;</span>
<span class="nt">&lt;html&gt;</span>
    <span class="nt">&lt;body&gt;</span>
        <span class="nt">&lt;h1&gt;</span>Hello {{ you }}!<span class="nt">&lt;/h1&gt;</span>
    <span class="nt">&lt;/body&gt;</span>
<span class="nt">&lt;/html&gt;</span>
</pre></div>
</div>
</li>
</ul>
</div></blockquote>
</div>
<div class="step slide section" data-x="3000" data-y="1600.0" id="templates-2">
<h1>
Templates #2<a class="headerlink" href="#templates-2" title="Permalink to this headline">¶</a></h1>
<div class="highlight-html">
<div class="highlight"><pre><span class="c">&lt;!-- userlist.html --&gt;</span>
<span class="cp">&lt;!doctype html&gt;</span>
<span class="nt">&lt;title&gt;</span>Userlist<span class="nt">&lt;/title&gt;</span>

<span class="nt">&lt;ul&gt;</span>
{% for user in users %}
    {% if user != &#39;admin&#39; %}
        <span class="nt">&lt;li&gt;</span>{{ user }}<span class="nt">&lt;/li&gt;</span>
    {% endif %}
{% endfor %}
<span class="nt">&lt;/ul&gt;</span>
</pre></div>
</div>
<p>
<strong>
Rendern des Templates aus einer View Funtkion:</strong></p>
<div class="highlight-python">
<div class="highlight"><pre><span class="n">users</span> <span class="o">=</span> <span class="p">[</span><span class="s">&#39;admin&#39;</span><span class="p">,</span> <span class="s">&#39;sam&#39;</span><span class="p">,</span> <span class="s">&#39;phil&#39;</span><span class="p">]</span>
<span class="k">return</span> <span class="n">render_template</span><span class="p">(</span><span class="s">&#39;userlist.html&#39;</span><span class="p">,</span> <span class="n">users</span><span class="o">=</span><span class="n">users</span><span class="p">)</span>
</pre></div>
</div>
</div>
<div class="step slide section" data-x="0" data-y="2400.0" id="request-object">
<h1>
Request Object<a class="headerlink" href="#request-object" title="Permalink to this headline">¶</a></h1>
<p>
Das <strong>
Request Object</strong> dient u.a. dazu POST Daten auszulesen.</p>
<div class="highlight-python">
<div class="highlight"><pre><span class="nd">@app.route</span><span class="p">(</span><span class="s">&#39;/login&#39;</span><span class="p">,</span> <span class="n">methods</span><span class="o">=</span><span class="p">[</span><span class="s">&#39;POST&#39;</span><span class="p">,</span> <span class="s">&#39;GET&#39;</span><span class="p">])</span>
<span class="k">def</span> <span class="nf">login</span><span class="p">():</span>
    <span class="k">if</span> <span class="n">request</span><span class="o">.</span><span class="n">method</span> <span class="o">==</span> <span class="s">&#39;POST&#39;</span><span class="p">:</span>
        <span class="k">return</span> <span class="s">&#39;&lt;b&gt;&#39;</span> <span class="o">+</span> <span class="n">request</span><span class="o">.</span><span class="n">form</span><span class="p">[</span><span class="s">&#39;text&#39;</span><span class="p">]</span> <span class="o">+</span> <span class="s">&#39;&lt;/b&gt;&#39;</span>
    <span class="k">else</span><span class="p">:</span>
        <span class="k">return</span> <span class="s">&#39;&#39;&#39;&lt;form action=&quot;&quot; method=&quot;post&quot;&gt;</span>
<span class="s">                    &lt;p&gt;&lt;input type=text name=text&gt;&lt;/p&gt;</span>
<span class="s">                    &lt;p&gt;&lt;input type=submit value=Sub&gt;&lt;/p&gt;</span>
<span class="s">                  &lt;/form&gt;&#39;&#39;&#39;</span>
</pre></div>
</div>
<p>
<strong>
Anmerkung:</strong></p>
<blockquote>
<div><ul class="simple">
<li>
Über <tt class="docutils literal">
<span class="pre">request.method</span></tt> (String) wird die HTTP Methode geprüft</li>
<li>
Über <tt class="docutils literal">
<span class="pre">request.form</span></tt> (Dictionary) können Formulare ausgelesen werden</li>
</ul>
</div></blockquote>
</div>
<div class="step slide section" data-x="1000" data-y="2400.0" id="session-object-1">
<h1>
Session Object #1<a class="headerlink" href="#session-object-1" title="Permalink to this headline">¶</a></h1>
<p>
<strong>
Codeblock um Login zu realisieren:</strong></p>
<div class="highlight-python">
<div class="highlight"><pre><span class="kn">from</span> <span class="nn">flask</span> <span class="kn">import</span> <span class="n">Flask</span><span class="p">,</span> <span class="n">session</span><span class="p">,</span> <span class="n">redirect</span>
<span class="kn">from</span> <span class="nn">flask</span> <span class="kn">import</span> <span class="n">escape</span><span class="p">,</span> <span class="n">request</span><span class="p">,</span> <span class="n">url_for</span>

<span class="n">app</span> <span class="o">=</span> <span class="n">Flask</span><span class="p">(</span><span class="n">__name__</span><span class="p">)</span>

<span class="nd">@app.route</span><span class="p">(</span><span class="s">&#39;/&#39;</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">index</span><span class="p">():</span>
    <span class="k">if</span> <span class="s">&#39;user&#39;</span> <span class="ow">in</span> <span class="n">session</span><span class="p">:</span>
        <span class="k">return</span> <span class="s">&#39;You are: &#39;</span> <span class="o">+</span> <span class="n">escape</span><span class="p">(</span><span class="n">session</span><span class="p">[</span><span class="s">&#39;user&#39;</span><span class="p">])</span>
    <span class="k">return</span> <span class="s">&#39;You are not logged in!&#39;</span>

<span class="nd">@app.route</span><span class="p">(</span><span class="s">&#39;/login&#39;</span><span class="p">,</span> <span class="n">methods</span><span class="o">=</span><span class="p">[</span><span class="s">&#39;GET&#39;</span><span class="p">,</span> <span class="s">&#39;POST&#39;</span><span class="p">])</span>
<span class="k">def</span> <span class="nf">login</span><span class="p">():</span>
    <span class="k">if</span> <span class="n">request</span><span class="o">.</span><span class="n">method</span> <span class="o">==</span> <span class="s">&#39;POST&#39;</span><span class="p">:</span>
        <span class="n">session</span><span class="p">[</span><span class="s">&#39;user&#39;</span><span class="p">]</span> <span class="o">=</span> <span class="n">request</span><span class="o">.</span><span class="n">form</span><span class="p">[</span><span class="s">&#39;user&#39;</span><span class="p">]</span>
        <span class="k">return</span> <span class="n">redirect</span><span class="p">(</span><span class="n">url_for</span><span class="p">(</span><span class="s">&#39;index&#39;</span><span class="p">))</span>
    <span class="k">return</span> <span class="n">render_template</span><span class="p">(</span><span class="s">&#39;login.html&#39;</span><span class="p">)</span>
</pre></div>
</div>
</div>
<div class="step slide section" data-x="2000" data-y="2400.0" id="session-object-2">
<h1>
Session Object #2<a class="headerlink" href="#session-object-2" title="Permalink to this headline">¶</a></h1>
<p>
<strong>
Logout:</strong></p>
<div class="highlight-python">
<div class="highlight"><pre><span class="nd">@app.route</span><span class="p">(</span><span class="s">&#39;/logout&#39;</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">logout</span><span class="p">():</span>
    <span class="n">session</span><span class="o">.</span><span class="n">pop</span><span class="p">(</span><span class="s">&#39;username&#39;</span><span class="p">,</span> <span class="bp">None</span><span class="p">)</span>
    <span class="k">return</span> <span class="n">redirect</span><span class="p">(</span><span class="n">url_for</span><span class="p">(</span><span class="s">&#39;index&#39;</span><span class="p">))</span>
</pre></div>
</div>
<p>
<strong>
Secret Key:</strong></p>
<div class="highlight-python">
<div class="highlight"><pre><span class="n">app</span><span class="o">.</span><span class="n">secret_key</span> <span class="o">=</span> <span class="s">&#39;68b329da9893e34099c7d8ad5cb9c940&#39;</span>
</pre></div>
</div>
<p>
<strong>
HTML Formular (login.html):</strong></p>
<div class="highlight-html">
<div class="highlight"><pre><span class="nt">&lt;form</span> <span class="na">action=</span><span class="s">&quot;&quot;</span> <span class="na">method=</span><span class="s">&quot;post&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;p&gt;&lt;input</span> <span class="na">type=</span><span class="s">text</span> <span class="na">name=</span><span class="s">user</span><span class="nt">&gt;&lt;/p&gt;</span>
    <span class="nt">&lt;p&gt;&lt;input</span> <span class="na">type=</span><span class="s">submit</span> <span class="na">value=</span><span class="s">Login</span><span class="nt">&gt;&lt;/p&gt;</span>
<span class="nt">&lt;/form&gt;</span>
</pre></div>
</div>
</div>
<div class="step slide section" data-x="3000" data-y="2400.0" id="url-parameter">
<h1>
URL Parameter<a class="headerlink" href="#url-parameter" title="Permalink to this headline">¶</a></h1>
<ul>
<li>
<p class="first">
Im Web/RESTful APIs sieht man oft sowas wie:</p>
<blockquote>
<div><p>
<a class="reference external" href="http://www.lastfm.com/api/?method=artist.getSimilar&amp;apikey=xyz">
http://www.lastfm.com/api/?method=artist.getSimilar&amp;apikey=xyz</a></p>
</div></blockquote>
</li>
<li>
<p class="first">
→    Einfacher Weg um optionale Parameter zu realisieren (wie <tt class="docutils literal">
<span class="pre">**kwargs</span></tt>)</p>
</li>
<li>
<p class="first">
Flask legt diese Parameter als Dictionary im Request Objekt ab:</p>
<div class="highlight-python">
<div class="highlight"><pre><span class="nd">@app.route</span><span class="p">(</span><span class="s">&#39;/api&#39;</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">api_root</span><span class="p">():</span>
    <span class="n">method</span> <span class="o">=</span> <span class="n">request</span><span class="o">.</span><span class="n">args</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="s">&#39;method&#39;</span><span class="p">)</span>
    <span class="n">apikey</span> <span class="o">=</span> <span class="n">request</span><span class="o">.</span><span class="n">args</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="s">&#39;apikey&#39;</span><span class="p">)</span>

    <span class="k">if</span> <span class="n">apikey</span> <span class="o">==</span> <span class="s">&#39;xyz&#39;</span><span class="p">:</span>
        <span class="k">return</span> <span class="n">make_xml_response</span><span class="p">(</span><span class="n">method</span><span class="p">,</span> <span class="n">apikey</span><span class="p">)</span>
    <span class="k">else</span><span class="p">:</span>
        <span class="k">return</span> <span class="s">&#39;Access Denied&#39;</span><span class="p">,</span> <span class="mi">404</span>
</pre></div>
</div>
</li>
</ul>
</div>
<div class="step slide section" data-x="0" data-y="3200.0" id="debugging-inside-1">
<h1>
Debugging Inside #1<a class="headerlink" href="#debugging-inside-1" title="Permalink to this headline">¶</a></h1>
<p>
<strong>
Live debugging flask applications</strong></p>
<div class="highlight-python">
<div class="highlight"><pre><span class="n">app</span><span class="o">.</span><span class="n">debug</span> <span class="o">=</span> <span class="bp">True</span>
<span class="n">app</span><span class="o">.</span><span class="n">run</span><span class="p">()</span>
</pre></div>
</div>
<div class="line-block">
<div class="line">
<br /></div>
</div>
<ul class="simple">
<li>
wird eine Flask Applikation mit <tt class="docutils literal">
<span class="pre">debug</span> <span class="pre">=</span> <span class="pre">True</span></tt> gestartet, so wird im
Browser bei Fehlern der Traceback geprintet. Dieser ist interaktiv, es
können Variablen ausgelesen und Kommandos interaktiv abgesetzt werden.</li>
<li>
Da man willkürlich Code im Browser eintippen kann empfiehlt sich dieser
Switch nicht sonderlich auf Produktivsystemen.</li>
<li>
Aber das war euch ja klar.</li>
</ul>
</div>
<div class="step slide section" data-x="1000" data-y="3200.0" id="debugging-inside-2">
<h1>
Debugging Inside #2<a class="headerlink" href="#debugging-inside-2" title="Permalink to this headline">¶</a></h1>
<p>
<strong>
Let&#8217;s demo!</strong></p>
<div class="highlight-python">
<div class="highlight"><pre><span class="kn">from</span> <span class="nn">flask</span> <span class="kn">import</span> <span class="n">Flask</span>
<span class="n">app</span> <span class="o">=</span> <span class="n">Flask</span><span class="p">(</span><span class="n">__name__</span><span class="p">)</span>


<span class="nd">@app.route</span><span class="p">(</span><span class="s">&#39;/&lt;name&gt;&#39;</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">hello</span><span class="p">(</span><span class="n">name</span><span class="p">):</span>
    <span class="n">answer</span> <span class="o">=</span> <span class="mi">42</span>
    <span class="k">if</span> <span class="n">name</span> <span class="o">==</span> <span class="s">&#39;lybrial&#39;</span><span class="p">:</span>
        <span class="k">raise</span> <span class="ne">Exception</span><span class="p">(</span><span class="s">&#39;Clitical Error.&#39;</span><span class="p">)</span>
    <span class="k">else</span><span class="p">:</span>
       <span class="k">return</span> <span class="s">&quot;Hello {0},&quot;</span> \
              <span class="s">&quot;the answer is {1}!&quot;</span><span class="o">.</span><span class="n">format</span><span class="p">(</span><span class="n">name</span><span class="p">,</span> <span class="n">answer</span><span class="p">)</span>

<span class="k">if</span> <span class="n">__name__</span> <span class="o">==</span> <span class="s">&#39;__main__&#39;</span><span class="p">:</span>
    <span class="n">app</span><span class="o">.</span><span class="n">run</span><span class="p">(</span><span class="n">debug</span><span class="o">=</span><span class="bp">True</span><span class="p">)</span>
</pre></div>
</div>
</div>
<div class="step slide section" data-x="2000" data-y="3200.0" id="server-inside">
<h1>
Server Inside *<a class="headerlink" href="#server-inside" title="Permalink to this headline">¶</a></h1>
<p>
<strong>
*kind of</strong></p>
<blockquote>
<div><ul>
<li>
<p class="first">
Flask startet beim Starten der Applikation einen Server der Standardmäßig
auf localhost:5000 horcht</p>
</li>
<li>
<p class="first">
Server Parameter änderbar</p>
<blockquote>
<div><div class="highlight-python">
<div class="highlight"><pre><span class="k">if</span> <span class="n">__name__</span> <span class="o">==</span> <span class="s">&#39;__main__&#39;</span><span class="p">:</span>
    <span class="n">app</span><span class="o">.</span><span class="n">run</span><span class="p">(</span><span class="n">debug</span><span class="o">=</span><span class="bp">True</span><span class="p">,</span>
            <span class="n">host</span><span class="o">=</span><span class="s">&#39;0.0.0.0&#39;</span><span class="p">,</span>
            <span class="n">port</span><span class="o">=</span><span class="mi">4242</span><span class="p">)</span>
</pre></div>
</div>
</div></blockquote>
</li>
<li>
<p class="first">
<tt class="docutils literal">
<span class="pre">debug</span></tt> aktiviert den live debugger über den Browser</p>
</li>
<li>
<p class="first">
<tt class="docutils literal">
<span class="pre">host</span></tt> definiert die IP-Adresse auf der gelauscht werden soll</p>
</li>
<li>
<p class="first">
<tt class="docutils literal">
<span class="pre">port</span></tt> definiert den Port auf dem gelauscht werden soll</p>
</li>
</ul>
</div></blockquote>
</div>
<div class="step slide section" data-x="3000" data-y="3200.0" id="deployment-options">
<h1>
Deployment Options<a class="headerlink" href="#deployment-options" title="Permalink to this headline">¶</a></h1>
<p>
<strong>
Do it yourself - Deploying Flask</strong></p>
<ul class="simple">
<li>
mod_wsgi (Apache)</li>
<li>
Standalone WSGI Containers (Gunicorn Python WSGI HTTP Server)</li>
<li>
uWSGI</li>
<li>
FastCGI</li>
<li>
CGI</li>
</ul>
<p>
<strong>
Deploying Flask on Business Enterprise Platforms</strong></p>
<ul class="simple">
<li>
Flask on Heroku</li>
<li>
Deploying WSGI on dotCloud</li>
<li>
Flask on Webfaction</li>
<li>
Google App Engine</li>
</ul>
</div>
<div class="step slide section" data-x="0" data-y="4000.0" id="ausblick">
<h1>
Ausblick<a class="headerlink" href="#ausblick" title="Permalink to this headline">¶</a></h1>
<p>
<strong>
Also known as</strong>: Wozu wir keine Zeit mehr hatten:</p>
<blockquote>
<div><ul class="simple">
<li>
Datenbankintegration. (Das <tt class="docutils literal">
<span class="pre">g</span></tt> Objekt)</li>
<li>
File Uploads (<tt class="docutils literal">
<span class="pre">request.files</span></tt>)</li>
<li>
Logging (<tt class="docutils literal">
<span class="pre">app.logger.warning(msg)</span></tt>)</li>
<li>
Message Flashing (<tt class="docutils literal">
<span class="pre">flash</span></tt>)</li>
<li>
Blueprints (verschiedene Seiten für Admin/User zB.)</li>
<li>
Extensions (wie SQL Object Mapper)</li>
<li>
…</li>
</ul>
</div></blockquote>
<p>
Wir empfehlen auch das ausführliche Tutorial auf der Flaskseite:</p>
<blockquote>
<div><a class="reference external" href="http://flask.pocoo.org/docs/tutorial/">
http://flask.pocoo.org/docs/tutorial/</a></div></blockquote>
</div>
<div class="step slide section" data-x="1000" data-y="4000.0" id="moosr-ein-beispielprojekt">
<h1>
<tt class="docutils literal">
<span class="pre">moosr</span></tt> - Ein Beispielprojekt<a class="headerlink" href="#moosr-ein-beispielprojekt" title="Permalink to this headline">¶</a></h1>
<img alt="_images/moosr.png" class="align-center" src="_images/moosr.png" style="height: 500px;">
</div>
<div class="step slide section" data-x="2000" data-y="4000.0" id="practice">
<h1>
Practice!<a class="headerlink" href="#practice" title="Permalink to this headline">¶</a></h1>
<div class="line-block">
<div class="line">
<br /></div>
</div>
<h1>→ Ihr seid dran!</h1><ul class="simple">
<li>
Bitte die VM starten.</li>
<li>
Auf dem Desktop findet ihr eine <tt class="docutils literal">
<span class="pre">Excercise.pdf</span></tt>.</li>
<li>
Im Homedirectory findet ihr unter <tt class="docutils literal">
<span class="pre">flascat/practice</span></tt> die Dateien.</li>
<li>
Unter Chromium ist <tt class="docutils literal">
<span class="pre">localhost:5000</span></tt> die Startseite.</li>
<li>
Der Vortag ist auch auf dem Desktop verlinkt.</li>
<li>
Zusätzlich findet ihr den Flask Userguide dort.</li>
</ul>
<div class="highlight-bash">
<div class="highlight"><pre><span class="nv">$ </span><span class="nb">cd</span> ~/flascat/practice
<span class="nv">$ </span>gedit app.py    <span class="c"># Übungsdatei öffnen</span>
<span class="nv">$ </span>python app.py   <span class="c"># Flask Server starten</span>
<span class="nv">$ </span>python test.py  <span class="c"># Eure Bemühungen testen</span>
</pre></div>
</div>
</div>


    </div>
    <script src="static/impress/js/impress.js"></script>
    <script src="static/jquery.js"></script>
    <script src="static/impress.js"></script>
    <script src="static/custom.js"></script>
    <script>
      if (! /_modules/.exec(window.location.href)) {
        impress().init();
      }
    </script>
  </body>
</html>