<html>
    <head>
        <meta name="description" content="A music metadata search engine.">
        <meta name="keywords" content="lyric, cover, search, artist, album, metadata">
        <meta name="author" content="Kitteh & Elk">
        <meta charset="utf-8">
        <style type="text/css">
            body {background-color: #40af49;}
            img.centered{display: block; margin-left: auto; margin-right: auto;}
        </style>
        <title>moosr [error 404, page not found.]</title>
    </head>
    <body>
        <a href="{{ url_for('search_page') }}">
            <img class="centered" src="{{url_for('static', filename='dead_link_green.png')}}" alt="dead link">
        </a>
    </body>
</html>
