{% extends "search_home.html" %}
{% block result %}
{% for item in option_list %}
<div id="content">
    <div id="song_header">
            <a href="{{ item['source_url_full'] }}">
                <img  id="picture_frame" src="{{ item['image_path'] }}" style="float:left" alt="Cover" height="150">
            </a>
        <p class="cover_stats">
        <b>Provider:</b> {{ item['provider'] }} 
        </p>
        <p class="cover_stats">
        <b>Size:</b>{{ item['image_size'] }} 
        </p>
        <p class="cover_stats">
        <b>Source-URL:</b> <a href="{{ item['source_url_full'] }}">{{
            item['source_url_short'] }}</a>
        </p>
        <p  class="cover_stats">
        <b>Cached in MoosrDB™:</b> {{ item['is_cached'] }}
        </p>
    </div>
</div>
{% endfor %}
{% endblock %}
