{% extends "layout.html" %}
{% block body %}
            <div id="content">

                <div id="song_header">
                    <div id="cover_pic">

                        <img  id="frame" src="{{ image_path }}" style="float:left" alt="singing octocat; src: http://octodex.github.com/images/aidorucat.png" height="150">
                    </div>
                    <p class="cover_stats">
                   From: da webz 
                    </p>
                    <p class="cover_stats">
                    Size: 200x200
                    </p>
                    <p class="cover_stats">
                    URL: www.rammstein.de
                    </p>
                    <p  class="cover_stats">
                    Cached in Elchr: yes
                    </p>
                </div>

            </div>
{% endblock %}
