<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/1999/xhtml">

<html>
    <head>
        <meta name="description" content="A music metadata search engine.">
        <meta name="keywords" content="lyric, cover, search, artist, album, metadata">
        <meta name="author" content="Kitteh & Elk">
        <meta charset="utf-8">
        <title>
            moosr
        </title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='layout.css') }}">
    </head>
    <body>

        <div id="mainmenue">
            <button class="button" type="button">home</button>
            <button class="button" type="button">philosophy</button>
            <button class="button" type="button">api</button>
            <button class="button" type="button">help</button>
            <button class="button" type="button">about us</button>
        </div>

        <div id="container">

            <div id="header">
                <p><img src="{{url_for('static', filename='logo_full.png')}}" alt="singing octocat; src: http://octodex.github.com/images/aidorucat.png" height="150"></p>

                <div id="searchbar">
                    <form action="{{ url_for('do_search') }}"  method=post>
                        <input  class="search_form" size="45" type="text" name="search_term">
                        <button class="search_button" type="submit">Go!</button>
                        <select name="get_type" class="search_button">
                            <option value="lyrics">Lyrics</option>
                            <option value="cover">Cover</option>
                            <option value="artistbio">Bio</option>
                        </select>
                        <select name="number" class="search_button">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>

                    </form> 
                </div>
            </div>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div id='flash_box'>
                    <b>News Flash:</b> {{ messages[-1] }}
                </div>
                {% endif %}
            {% endwith %}

            {% block body %}{% endblock %}

        </div>

    </div>
    <div id="footer">
        impressum
        <img src="{{url_for('static', filename='icon_flickr.png')}}" alt="singing octocat; src: http://octodex.github.com/images/aidorucat.png" height="25px">
        <img src="{{url_for('static', filename='icon_googleplus.png')}}"alt="singing octocat; src: http://octodex.github.com/images/aidorucat.png" height="25px">
        <img src="{{url_for('static', filename='icon_facebook.png')}}"alt="singing octocat; src: http://octodex.github.com/images/aidorucat.png" height="25px">
        <img src="{{url_for('static', filename='icon_twitter.png')}}"alt="singing octocat; src: http://octodex.github.com/images/aidorucat.png" height="25px">
        <img src="{{url_for('static', filename='icon_email.png')}}"alt="singing octocat; src: http://octodex.github.com/images/aidorucat.png" height="25px">
        <img src="{{url_for('static', filename='icon_rss.png')}}"alt="singing octocat; src: http://octodex.github.com/images/aidorucat.png" height="25px">
    </div>
</body>
</html>
