{% extends "layout.html" %}
{% block head %}
        <meta name="description" content="A music metadata search engine." />
        <meta name="keywords" content="lyric, cover, search, artist, album, metadata" />
        <title>Moosrdata</title>
{% endblock %}
{% block body %}
<div id="header">
    <br />
    <br />
    <a id="logo_link" href="{{ url_for('main_page') }}">
        <img src="{{url_for('static', filename='elchlogo.png')}}"
        alt="singing octocat; src:
        http://octodex.github.com/images/aidorucat.png" height="150">
    </a>
    <div id="searchbar">
        <form action="{{ url_for('do_search') }}"  method=post>
            <input  class="search_form" size="45" type="text" name="search_term">
            <button class="search_buttons" type="submit">Go!</button>
            <select name="get_type" class="search_buttons">
                <option value="lyrics">Lyrics</option>
                <option value="cover">Cover</option>
                <option value="artistbio">Bio</option>
                <option value="artistphoto">Artist Photos</option>
            </select>
            <select name="number" class="search_buttons">
                {% for i in range(1, 21) %}
                <option value="{{ i }}">{{ i }} Items</option>
                {% endfor %}
            </select>

        </form> 
    </div>
</div>
<!-- Render inherited content here -->
{% block result %}
{% endblock %}
</div>
{% endblock %}
