{% extends "layout.html" %}

{% block head %}
    <title>Moosr Blog</title>
    <meta name="description" content="Blog about Indiemusic" />
    <meta name="keywords" content="Inide, Band, Artist, Festival" />
{% endblock %}

{% block body %}
<h1>A blog about Music</h1>

{% if session.logged_in %}
<form action="{{ url_for('add_entry') }}" method=post class=add-entry>
    <dl>
        <dt>Title:</dt>
        <dd><input type=text size=30 name=title></dd>
        <dt>Short Title:</dt>
        <dd><input type=text size=30 name=short_title></dd>
        <dt>Text:</dt>
        <dd><textarea name=text rows=5 cols=40></textarea></dd>
        <dd><input type=submit value=Share></dd>
    </dl>
</form>
{% endif %}
<ul id="content" id="add-entry">
    {% for entry in entries %}
    <div id="blogpost">
        <a href={{ url_for('show_blog_entry', post_short_name=entry.short_title) }}>
            <h2>{{ entry.title }}</h2>
        </a>
        <i>by</i> {{entry.username}}
        <br />
        <br />
        <small>{{ entry.text[0:200]|safe }}</small>
        <a href={{ url_for('show_blog_entry', post_short_name=entry.short_title) }}>
            <i><small><small><small>... [READ MORE]</small></small></small></i>
        </a>
    </div>
    {% else %}
    <div id="blogpost">
        <em>Unbelievable.  No entries here so far</em>
    </div>
    {% endfor %}
</ul>
{% endblock %}
